@import 'src/scss/variables';

@mixin show-hazelnut-animation {
    animation: show-hazelnut 1s ease .3s forwards;
    -webkit-animation: show-hazelnut 1s ease .3s forwards;
    opacity: 0;

    @keyframes show-hazelnut {
        from {
            opacity: 0;
            -webkit-transform: scale(1.2);
        }
        to {
            opacity: 1;
            -webkit-transform: scale(1.0);
        }
    }

    @-webkit-keyframes show-hazelnut {
        from {
            opacity: 0;
            -webkit-transform: scale(1.2);
        }
        to {
            opacity: 1;
            -webkit-transform: scale(1.0);
        }
    }
}

@mixin show-main-nav-animation {
    animation: show-main-nav 0.5s ease 0s forwards;
    -webkit-animation: show-main-nav 0.5s ease 0s forwards;
    opacity: 0;

    @keyframes show-main-nav {
        from {
            opacity: 0;
            -webkit-transform: scale(1.2);
        }
        to {
            opacity: 1;
            -webkit-transform: scale(1.0);
        }
    }

    @-webkit-keyframes show-main-nav {
        from {
            opacity: 0;
            -webkit-transform: scale(1.2);
        }
        to {
            opacity: 1;
            -webkit-transform: scale(1.0);
        }
    }
}

@mixin show-text1-animation {
    animation: show-text1 1s ease 1s forwards;
    -webkit-animation: show-text1 1s ease 1s forwards;
    opacity: 0;

    @keyframes show-text1 {
        from {
            opacity: 0;
            -webkit-transform: translateY(50px);
        }
        to {
            opacity: 1;
            -webkit-transform: translateY(0px);
        }
    }

    @-webkit-keyframes show-text1 {
        from {
            opacity: 0;
            -webkit-transform: translateY(50px);
        }
        to {
            opacity: 1;
            -webkit-transform: translateY(0px);
        }
    }
}

@mixin show-text2-animation {
    animation: show-text2 1s ease 1s forwards;
    -webkit-animation: show-text2 1s ease 1s forwards;
    opacity: 0;

    @keyframes show-text2 {
        from {
            opacity: 0;
            -webkit-transform: translateY(0px);
        }
        to {
            opacity: 1;
            -webkit-transform: translateY(50px);
        }
    }

    @-webkit-keyframes show-text2 {
        from {
            opacity: 0;
            -webkit-transform: translateY(0px);
        }
        to {
            opacity: 1;
            -webkit-transform: translateY(50px);
        }
    }
}

@mixin show-text1-animation-small-screen {
    animation: show-text1-small-screen 1s ease 1s forwards;
    -webkit-animation: show-text1-small-screen 1s ease 1s forwards;
    opacity: 0;

    @keyframes show-text1-small-screen {
        from {
            opacity: 0;
            -webkit-transform: translateY(50px);
        }
        to {
            opacity: 1;
            -webkit-transform: translateY(0px);
        }
    }

    @-webkit-keyframes show-text1-small-screen {
        from {
            opacity: 0;
            -webkit-transform: translateY(50px);
        }
        to {
            opacity: 1;
            -webkit-transform: translateY(0px);
        }
    }
}

@mixin show-text2-animation-small-screen {
    animation: show-text1-small-screen 1s ease 1.5s forwards;
    -webkit-animation: show-text1-small-screen 1s ease 1.5s forwards;
    opacity: 0;

    @keyframes show-text1-small-screen {
        from {
            opacity: 0;
            -webkit-transform: translateY(50px);
        }
        to {
            opacity: 1;
            -webkit-transform: translateY(0px);
        }
    }

    @-webkit-keyframes show-text1-small-screen {
        from {
            opacity: 0;
            -webkit-transform: translateY(50px);
        }
        to {
            opacity: 1;
            -webkit-transform: translateY(0px);
        }
    }
}

@mixin texts {
    display: block;
    color: #4d4d4d;
    margin: 0 30px;
    text-align: center;

    h3 {
        position: relative;
        font-weight: 300;
        color: $base-color;
        font-size: 30px;
        margin-top: 0;
        margin-bottom: 0;
    }

    p {
        font-weight: 300;
        line-height: 1.5;
        font-size: 15px;
    }
}

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin transform($degrees) {
    -webkit-transform: rotate($degrees);
    -moz-transform: rotate($degrees);
    -ms-transform: rotate($degrees);
    -o-transform: rotate($degrees);
    transform: rotate($degrees);
}
